.file {
  color: blue;
  font-weight: bold;
  font-family: courier;
}

.menu {
  color: blue;
  font-weight: bold;
  font-family: courier;
}

.highlight {
  color: crimson;
  font-weight: bold;
}
